 .u-section-1 {
  background-image: url("images/banner-1.jpg");
  background-position: 50% 50%;
  min-height: 574px;
}

.u-section-1 .u-shape-1 {
  background-image: linear-gradient(#834496, #464b8c);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 473px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 362px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 272px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 171px;
  }
} .u-section-2 {
  min-height: 617px;
}

.u-section-2 .u-image-1 {
  width: 334px;
  height: 334px;
  margin: 22px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-image-2 {
  width: 258px;
  height: 257px;
  background-image: url("images/67830125_2360553297606138_7679443847855734784_n.jpg");
  background-position: 50% 50%;
  margin: -211px auto 0 calc(((100% - 1140px) / 2) + 194px);
}

.u-section-2 .u-text-1 {
  margin: -361px 189px 0 calc(((100% - 1140px) / 2) + 584px);
}

.u-section-2 .u-text-2 {
  margin: 22px calc(((100% - 1140px) / 2) + 67px) 60px calc(((100% - 1140px) / 2) + 570px);
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: 145px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-2 {
    height: 258px;
    margin-left: calc(((100% - 940px) / 2) + 194px);
  }

  .u-section-2 .u-text-1 {
    margin-top: -484px;
    margin-left: calc(((100% - 940px) / 2) + 482px);
  }

  .u-section-2 .u-text-2 {
    margin-top: 109px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 437px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-top: 181px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + 194px);
  }

  .u-section-2 .u-text-1 {
    margin-top: -520px;
    margin-left: calc(((100% - 720px) / 2) + 369px);
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 217px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2) + 194px);
  }

  .u-section-2 .u-text-1 {
    margin-right: 142px;
    margin-left: calc(((100% - 540px) / 2) + 277px);
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 37px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-top: 199px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 340px) / 2) + 82px);
  }

  .u-section-2 .u-text-1 {
    margin-top: -538px;
    margin-right: 89px;
    margin-left: calc(((100% - 340px) / 2) + 174px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-3 .u-sheet-1 {
  min-height: 663px;
}

.u-section-3 .u-tabs-1 {
  min-height: 428px;
  height: auto;
  margin-top: 117px;
  margin-bottom: 60px;
}

.u-section-3 .u-tab-list-1 {
  background-image: none;
}

.u-section-3 .u-tab-link-1 {
  background-image: none;
}

.u-section-3 .u-tab-link-2 {
  background-image: none;
}

.u-section-3 .u-tab-link-3 {
  background-image: none;
}

.u-section-3 .u-tab-link-4 {
  background-image: none;
}

.u-section-3 .u-tab-link-5 {
  background-image: none;
}

.u-section-3 .u-tab-item-6 {
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-6 {
  background-image: none;
}

.u-section-3 .u-tab-item-7 {
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-7 {
  background-image: none;
}

.u-section-3 .u-tab-pane-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 92px 431px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 219px;
  height: 155px;
  margin: -72px 374px 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -138px 420px 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 7px 420px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 99px;
  height: 98px;
  margin: 21px 428px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 219px;
  height: 155px;
  margin: -206px auto 0 278px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -139px auto 0 335px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 7px auto 0 303px;
}

.u-section-3 .u-image-4 {
  width: 101px;
  height: 98px;
  margin: 30px auto 0 347px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -187px auto 0 60px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto 0 35px;
}

.u-section-3 .u-image-5 {
  width: 218px;
  height: 154px;
  margin: -92px auto 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -138px auto 0 61px;
}

.u-section-3 .u-image-6 {
  width: 96px;
  height: 96px;
  background-image: url("images/strawbs-1.png");
  background-position: 50% 50%;
  margin: 61px auto 0 61px;
}

.u-section-3 .u-text-9 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -150px auto 0 11px;
}

.u-section-3 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 92px 431px 0 auto;
}

.u-section-3 .u-image-7 {
  width: 219px;
  height: 155px;
  margin: -72px 374px 0 auto;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -99px 434px 0 auto;
}

.u-section-3 .u-image-8 {
  width: 99px;
  height: 99px;
  margin: 21px 428px 0 auto;
}

.u-section-3 .u-image-9 {
  width: 219px;
  height: 155px;
  margin: -206px auto 0 278px;
}

.u-section-3 .u-text-12 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -100px auto 0 347px;
}

.u-section-3 .u-image-10 {
  width: 99px;
  height: 98px;
  margin: 30px auto 0 347px;
}

.u-section-3 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -187px auto 0 60px;
}

.u-section-3 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto 0 35px;
}

.u-section-3 .u-image-11 {
  width: 218px;
  height: 154px;
  margin: -92px auto 0 0;
}

.u-section-3 .u-text-15 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -138px auto 0 43px;
}

.u-section-3 .u-image-12 {
  width: 99px;
  height: 103px;
  margin: 61px auto 0 50px;
}

.u-section-3 .u-text-16 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -157px auto 0 43px;
}

.u-section-3 .u-tab-pane-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-3 .u-text-17 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 92px 431px 0 auto;
}

.u-section-3 .u-image-13 {
  width: 219px;
  height: 155px;
  margin: -72px 374px 0 auto;
}

.u-section-3 .u-text-18 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -138px 420px 0 auto;
}

.u-section-3 .u-text-19 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 7px 420px 0 auto;
}

.u-section-3 .u-image-14 {
  width: 99px;
  height: 98px;
  margin: 21px 428px 0 auto;
}

.u-section-3 .u-image-15 {
  width: 219px;
  height: 155px;
  margin: -206px auto 0 278px;
}

.u-section-3 .u-text-20 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -139px auto 0 335px;
}

.u-section-3 .u-text-21 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 6px auto 0 325px;
}

.u-section-3 .u-image-16 {
  width: 99px;
  height: 98px;
  margin: 31px auto 0 347px;
}

.u-section-3 .u-text-22 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -187px auto 0 60px;
}

.u-section-3 .u-text-23 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto 0 35px;
}

.u-section-3 .u-image-17 {
  width: 218px;
  height: 154px;
  margin: -92px auto 0 0;
}

.u-section-3 .u-image-18 {
  width: 99px;
  height: 97px;
  margin: -45px auto 0 50px;
}

.u-section-3 .u-text-24 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -188px auto 0 80px;
}

.u-section-3 .u-text-25 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 11px auto 0 52px;
}

.u-section-3 .u-tab-pane-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-19 {
  width: 219px;
  height: 155px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-20 {
  width: 98px;
  height: 97px;
  margin: -54px auto 0 60px;
}

.u-section-3 .u-text-26 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -173px auto 0 80px;
}

.u-section-3 .u-text-27 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 11px auto 0 49px;
}

.u-section-3 .u-image-21 {
  width: 219px;
  height: 155px;
  margin: -92px auto 0 317px;
}

.u-section-3 .u-image-22 {
  width: 143px;
  height: 97px;
  margin: -54px auto 0 362px;
}

.u-section-3 .u-text-28 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -173px auto 0 404px;
}

.u-section-3 .u-text-29 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 11px auto 0 377px;
}

.u-section-3 .u-tab-pane-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-23 {
  width: 219px;
  height: 155px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-24 {
  width: 98px;
  height: 98px;
  margin: -58px auto 0 60px;
}

.u-section-3 .u-text-30 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -144px auto 0 49px;
}

.u-section-3 .u-text-31 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -69px auto 41px 80px;
}

.u-section-3 .u-tab-pane-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-25 {
  width: 219px;
  height: 155px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-32 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -91px auto 0 46px;
}

.u-section-3 .u-image-26 {
  width: 98px;
  height: 98px;
  background-image: url("images/strawbs-1.png");
  background-position: 50% 50%;
  margin: 12px auto 0 61px;
}

.u-section-3 .u-text-33 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -178px auto 0 65px;
}

.u-section-3 .u-tab-pane-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-27 {
  width: 219px;
  height: 155px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-28 {
  width: 98px;
  height: 98px;
  background-image: url("images/jason.jpg");
  background-position: 50% 50%;
  margin: -55px auto 0 61px;
}

.u-section-3 .u-text-34 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -145px auto 0 46px;
}

.u-section-3 .u-text-35 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -62px auto 0 84px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 159px;
    margin-right: 355px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 346px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 346px;
  }

  .u-section-3 .u-image-2 {
    height: 99px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -274px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 276px;
  }

  .u-section-3 .u-image-4 {
    width: 99px;
    height: 99px;
    margin-top: 98px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -93px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -106px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 29px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 159px;
    margin-right: 355px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 357px;
  }

  .u-section-3 .u-image-9 {
    margin-top: -274px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 286px;
  }

  .u-section-3 .u-image-10 {
    height: 99px;
    margin-top: 98px;
    margin-left: 286px;
  }

  .u-section-3 .u-image-11 {
    margin-top: -93px;
  }

  .u-section-3 .u-text-15 {
    margin-top: -106px;
  }

  .u-section-3 .u-image-12 {
    width: 103px;
    margin-top: 29px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 355px;
  }

  .u-section-3 .u-text-18 {
    margin-right: 346px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 346px;
  }

  .u-section-3 .u-image-14 {
    width: 98px;
  }

  .u-section-3 .u-text-20 {
    margin-left: 276px;
  }

  .u-section-3 .u-text-21 {
    margin-left: 268px;
  }

  .u-section-3 .u-image-16 {
    width: 98px;
  }

  .u-section-3 .u-image-18 {
    width: 97px;
  }

  .u-section-3 .u-image-20 {
    width: 96px;
    height: 96px;
  }

  .u-section-3 .u-text-26 {
    margin-top: -172px;
  }

  .u-section-3 .u-image-22 {
    width: 97px;
  }

  .u-section-3 .u-text-28 {
    margin-left: 329px;
  }

  .u-section-3 .u-text-29 {
    margin-left: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 272px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 265px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 265px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 211px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 232px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 272px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 273px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 219px;
  }

  .u-section-3 .u-image-10 {
    margin-left: 219px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 272px;
  }

  .u-section-3 .u-text-18 {
    margin-right: 265px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 265px;
  }

  .u-section-3 .u-text-20 {
    margin-left: 211px;
  }

  .u-section-3 .u-text-21 {
    margin-left: 205px;
  }

  .u-section-3 .u-text-28 {
    margin-left: 247px;
  }

  .u-section-3 .u-text-29 {
    margin-left: 230px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 204px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 321px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 199px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 199px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 158px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 174px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 204px;
  }

  .u-section-3 .u-image-7 {
    margin-right: 321px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 205px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 164px;
  }

  .u-section-3 .u-image-10 {
    margin-left: 164px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 204px;
  }

  .u-section-3 .u-image-13 {
    margin-right: 321px;
  }

  .u-section-3 .u-text-18 {
    margin-right: 199px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 199px;
  }

  .u-section-3 .u-text-20 {
    margin-left: 158px;
  }

  .u-section-3 .u-text-21 {
    margin-left: 154px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-21 {
    margin-left: 301px;
  }

  .u-section-3 .u-text-28 {
    margin-left: 195px;
  }

  .u-section-3 .u-text-29 {
    margin-left: 181px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 128px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -155px;
    margin-right: auto;
    margin-left: 6px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 207px;
    margin-right: auto;
    margin-left: 28px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 1px;
    margin-right: auto;
    margin-left: 75px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -99px;
    margin-right: auto;
    margin-left: 57px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: -573px;
    margin-left: 99px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 110px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 431px;
    margin-left: 57px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -625px;
    margin-left: 63px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 316px;
    margin-left: 29px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -157px;
    margin-left: 3px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -355px;
  }

  .u-section-3 .u-image-6 {
    margin-left: 63px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 128px;
  }

  .u-section-3 .u-image-7 {
    margin-top: -155px;
    margin-right: auto;
    margin-left: 6px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 240px;
    margin-right: auto;
    margin-left: 75px;
  }

  .u-section-3 .u-image-8 {
    margin-top: -99px;
    margin-right: auto;
    margin-left: 57px;
  }

  .u-section-3 .u-image-9 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-top: -534px;
    margin-left: 103px;
  }

  .u-section-3 .u-image-10 {
    margin-top: 431px;
    margin-left: 57px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: -625px;
    margin-left: 63px;
  }

  .u-section-3 .u-text-14 {
    width: auto;
    margin-top: 316px;
    margin-left: 29px;
  }

  .u-section-3 .u-image-11 {
    margin-top: -157px;
    margin-left: 3px;
  }

  .u-section-3 .u-text-15 {
    margin-top: -355px;
  }

  .u-section-3 .u-image-12 {
    margin-left: 63px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-17 {
    margin-right: 128px;
  }

  .u-section-3 .u-image-13 {
    margin-right: 121px;
  }

  .u-section-3 .u-text-18 {
    margin-right: 125px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 125px;
  }

  .u-section-3 .u-image-14 {
    margin-right: 241px;
  }

  .u-section-3 .u-image-15 {
    margin-left: 121px;
  }

  .u-section-3 .u-text-20 {
    margin-left: 99px;
  }

  .u-section-3 .u-text-21 {
    margin-left: 97px;
  }

  .u-section-3 .u-image-16 {
    margin-left: 241px;
  }

  .u-section-3 .u-image-21 {
    margin-left: 101px;
  }

  .u-section-3 .u-image-22 {
    margin-left: 177px;
  }

  .u-section-3 .u-text-28 {
    margin-left: 120px;
  }

  .u-section-3 .u-text-29 {
    margin-left: 111px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 562px;
}

.u-section-4 .u-text-1 {
  margin: 5px auto 0;
}

.u-section-4 .u-list-1 {
  margin: 20px 0 53px;
}

.u-section-4 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 184px;
  margin-top: 0;
  margin-bottom: 0;
  width: 327px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 20px 41px 0 20px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 184px;
  margin-top: 0;
  margin-bottom: 0;
  width: 327px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 20px 41px 0 20px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 184px;
  margin-top: 0;
  margin-bottom: 0;
  width: 327px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 20px 41px 0 20px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  height: 184px;
  margin-top: 0;
  margin-bottom: 0;
  width: 327px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 20px 41px 0 20px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 309px;
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 355px;
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 40px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 180px;
    width: 320px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 180px;
    width: 320px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 180px;
    width: 320px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-4 {
    height: 180px;
    width: 320px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 865px;
}

.u-section-5 .u-text-1 {
  margin: 41px auto 0;
}

.u-section-5 .u-gallery-1 {
  width: 440px;
  height: 648px;
  grid-gap: 10px 10px;
  margin: 37px 329px 60px auto;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-5 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  padding: 10px;
}

.u-section-5 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  padding: 10px;
}

.u-section-5 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  padding: 10px;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-5 .u-over-slide-3 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-gallery-1 {
    margin-right: 280px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-gallery-1 {
    margin-right: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-gallery-1 {
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-6 {
  min-height: 1736px;
}

.u-section-6 .u-text-1 {
  margin: 150px auto 0 calc(((100% - 1140px) / 2) + 424px);
}

.u-section-6 .u-image-1 {
  width: 444px;
  height: 345px;
  margin: 67px auto 0 calc(((100% - 1140px) / 2) + 325px);
}

.u-section-6 .u-text-2 {
  margin: 62px auto 0 calc(((100% - 1140px) / 2) + 450px);
}

.u-section-6 .u-image-2 {
  width: 225px;
  height: 224px;
  margin: 31px auto 0 calc(((100% - 1140px) / 2) + 435px);
}

.u-section-6 .u-text-3 {
  margin: -92px calc(((100% - 1140px) / 2)) 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 271px);
    margin-left: auto;
  }

  .u-section-6 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 380px);
    margin-left: auto;
  }

  .u-section-6 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-6 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 270px);
  }

  .u-section-6 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1655px;
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 454px);
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 264px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-6 .u-text-2 {
    margin-top: -373px;
    margin-left: calc(((100% - 1140px) / 2) + 474px);
  }

  .u-section-6 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-6 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }
}