/* cyrillic-ext */
@font-face {
  font-family: 'Volvo Novum Light',;
  font-style: normal;
  font-weight: 400;
  src: url(https://coolvibes-reloaded.com/fonts/Volvo Novum Light;
}
/* cyrillic */
@font-face {
  font-family: 'Volvo Novum Light',;
  font-style: normal;
  font-weight: 400;
  src: url(https://coolvibes-reloaded.com/fonts/Volvo Novum Light;
}
/* vietnamese */
@font-face {
  font-family: 'Volvo Novum Light',;
  font-style: normal;
  font-weight: 400;
  src: url(https://coolvibes-reloaded.com/fonts/Volvo Novum Light;
}
/* latin-ext */
@font-face {
  font-family: 'Volvo Novum Light',;
  font-style: normal;
  font-weight: 400;
  src: url(https://coolvibes-reloaded.com/fonts/Volvo Novum Light;
}
/* latin */
@font-face {
  font-family: 'Volvo Novum Light',;
  font-style: normal;
  font-weight: 400;
  src: url(https://coolvibes-reloaded.com/fonts/Volvo Novum Light;
}