/* cyrillic-ext */
@font-face {
  font-family: 'Future Now', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(https://coolvibes-reloaded.com/fonts/FutureNow;
}
/* cyrillic */
@font-face {
  font-family: 'Future Now', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(https://coolvibes-reloaded.com/fonts/FutureNow;
}
/* vietnamese */
@font-face {
  font-family: 'Future Now', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(https://coolvibes-reloaded.com/fonts/FutureNow;
}
/* latin-ext */
@font-face {
  font-family: 'Future Now', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(https://coolvibes-reloaded.com/fonts/FutureNow;
}
/* latin */
@font-face {
  font-family: 'Future Now', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(https://coolvibes-reloaded.com/fonts/FutureNow;
}