 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 474px;
}

.u-section-1 .u-tabs-1 {
  min-height: 408px;
  margin: 60px auto 0;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-5 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-6 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-7 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 17px 871px 0 12px;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 12px 838px 0 12px;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 28px 838px 0 0;
}

.u-section-1 .u-text-4 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 0 838px 0 0;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin: 6px auto 0 9px;
}

.u-section-1 .u-tab-pane-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin: 24px auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: 24px auto 0 0;
}

.u-section-1 .u-tab-pane-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  margin: 35px auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: -25px auto 0 171px;
}

.u-section-1 .u-tab-pane-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  margin: 24px auto 0 42px;
}

.u-section-1 .u-tab-pane-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  margin: 15px auto 0 38px;
}

.u-section-1 .u-image-1 {
  width: 268px;
  height: 161px;
  margin: -531px auto 0 400px;
}

.u-section-1 .u-text-12 {
  font-size: 3rem;
  margin: -109px auto 60px 436px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-right: 683px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 651px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 638px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 638px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 463px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 431px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 418px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 418px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 276px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 323px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 291px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 278px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 278px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 272px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 207px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    width: 440px;
    height: auto;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 91px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 78px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 78px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 105px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -514px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: 60px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 793px;
}

.u-section-2 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 3.75rem;
  margin: 17px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 648px;
  margin: 8px auto 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/strawbs.png");
  background-position: 50% 50%;
  min-height: 216px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 150px auto 0;
}

.u-section-2 .u-image-2 {
  background-image: url("images/jason.jpg");
  background-position: 50% 50%;
  min-height: 216px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 150px auto 0;
}

.u-section-2 .u-image-3 {
  background-image: url("images/simon.jpg");
  background-position: 50% 50%;
  min-height: 216px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 150px auto 0;
}

.u-section-2 .u-image-4 {
  background-image: url("images/Rishab.jpg");
  background-position: 50% 50%;
  min-height: 216px;
}

.u-section-2 .u-container-layout-4 {
  padding: 40px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 0 auto 0 52px;
}

.u-section-2 .u-text-6 {
  font-family: "Abril Fatface";
  font-size: 3.75rem;
  margin: 33px auto 0;
}

.u-section-2 .u-image-5 {
  width: 184px;
  height: 137px;
  margin: 8px auto 0 603px;
}

.u-section-2 .u-image-6 {
  width: 185px;
  height: 137px;
  margin: -137px auto 0 353px;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  margin: 8px auto 0 422px;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: -19px auto 19px 663px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-2 .u-image-2 {
    min-height: 215px;
  }

  .u-section-2 .u-image-4 {
    min-height: 215px;
  }

  .u-section-2 .u-image-6 {
    height: 136px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 348px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 546px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-2 .u-image-5 {
    margin-left: 536px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 267px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 418px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1790px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 360px;
  }

  .u-section-2 .u-image-2 {
    min-height: 358px;
  }

  .u-section-2 .u-image-3 {
    min-height: 360px;
  }

  .u-section-2 .u-image-4 {
    min-height: 358px;
  }

  .u-section-2 .u-image-5 {
    margin-left: 356px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 200px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 314px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1258px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 227px;
  }

  .u-section-2 .u-image-2 {
    min-height: 225px;
  }

  .u-section-2 .u-image-3 {
    min-height: 227px;
  }

  .u-section-2 .u-image-4 {
    min-height: 225px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-5 {
    width: 142px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-6 {
    width: 143px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 25px;
    margin-left: 41px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin: -28px 27px 60px auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 532px;
}

.u-section-3 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 3.75rem;
  margin: 42px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 58px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 70px auto 60px;
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 512px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 41px auto 0;
}

.u-section-4 .u-image-1 {
  width: 276px;
  height: 194px;
  margin: 47px auto 0 221px;
}

.u-section-4 .u-image-2 {
  width: 277px;
  height: 194px;
  margin: -194px 224px 0 auto;
}

.u-section-4 .u-image-3 {
  width: 268px;
  height: 161px;
  margin: -341px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    margin-top: 26px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: 41px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-3 {
    margin-top: -553px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 509px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  margin: 56px auto 0;
}

.u-section-5 .u-image-1 {
  width: 331px;
  height: 237px;
  margin: 0 auto 0 179px;
}

.u-section-5 .u-image-2 {
  width: 268px;
  height: 161px;
  margin: -334px auto 0;
}

.u-section-5 .u-image-3 {
  width: 330px;
  height: 191px;
  margin: -41px auto 0 631px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 auto 0 226px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  margin: -32px auto 60px 756px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    margin-left: 90px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -699px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 324px;
    margin-left: 521px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 137px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 467px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-2 {
    margin-top: -465px;
  }

  .u-section-5 .u-image-3 {
    margin-left: 301px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 247px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    margin-left: 101px;
  }

  .u-section-5 .u-image-3 {
    margin-left: 132px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 92px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 78px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    margin-left: 9px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -336px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 195px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -238px;
    margin-right: 34px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 206px;
    margin-left: auto;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 694px;
}

.u-section-6 .u-image-1 {
  width: 268px;
  height: 161px;
  margin: 41px auto 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  margin: -95px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 41px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 0px;
  margin: 70px auto 60px;
  padding: 21px 82px 23px 81px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    margin-top: -201px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -94px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: -143px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 135px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    margin-top: -16px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -94px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 46px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 22px;
    padding-right: 69px;
    padding-left: 68px;
  }
}