@media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
  }
}
.success {
border: 6px solid #000000;
padding: 10px;
background: #EEFFEE;
margin: 10px;
}

h1 {
text-align: center;
color: #fff;
}