

@media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
	
	
  }
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(115deg, #003366 10%, #00ffff 100%);
  color: #000000;
}
	

div.a {
  height: auto;
  border: 1px solid black;
}

table, th, td {
	border: 1px solid black;
  	border-collapse: collapse;
}
th, td {
  	padding: 10px;
}
th {
  	background-color: #bfbfbf;
}
th:nth-child(2) {
  	background-color: #a6a6a6;
}
colgroup {
  	width: 250px;
}






.container{
  
  background: transparent;
  padding: 25px 40px 10px 40px;
  
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.container .text{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #bfbfbf, #000, #bfbfbf, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container form{
  padding: 10px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}

.textarea textarea{
  resize: none;
  padding-top: 10px;
}

.box { 
  text-align: center;
  box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 0px; 
  background-color: #6699ff;
  
  }

.box2 { 
  text-align: center;
  box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 0px; 
  background-color: #6699ff;
  
  }
		
		


h1 {
text-align: center;
color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
}

